.culture-description > div h4{
    color: #00a2b6;
    width: 900px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center the text inside the div */
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 5%;
    font-size: 1.5rem;
    font-weight: 600;
}




.culture-items > div > div > div{
    display: flex;


}


.culture-items  {
    display: flex;
    justify-content: center; /* Center horizontally */

    text-align: center; /* Center the text inside the div */
}

.culture-items > div {
    width: 200px;
    padding: 2rem;
    


}
.culture-items > div > div p{
    width: 200px;
    font-size: 1rem;
    font-weight: bolder;

}

.culture-items > div > div h3{
    width: 200px;
    font-size: 1.375rem;
    font-weight: bolder;
    color: #00a2b6;

}



.culture-items > div > div > picture img{
    width: 200px;
    height: 80px;
}








