.governance-library > div {
    display: flex;
}

.governance-library > div h2 {
    color: #00a2b6;
    font-size: 2rem;
}

.governance-library > div {
    font-size: 1rem;
    width: 1200px;
}

.governance-library > div > div {
    padding-left: 90px;
}

.governance-library > div > div > ul > li {
    margin-top: 24px;
    font-size: 1rem;
    position: relative; /* Required for positioning the pseudo-element */
}

.governance-library > div > div > ul > li > ul > li::marker {
    content: "•"; /* Use a solid bullet character */
    color: black; /* Change this to your preferred color */
}

.governance-library > div > div > ul > li > ul > li {
    padding-left: 10px;
}

.governance-library > div > div > ul > li a {
    color: #00a2b6;
}

.governance-library-container {
    background-color: rgb(245, 245, 245);
    height: 400px;
}

.governance-library-container,
.governance-library-wrapper,
.governance-library {
    margin-bottom: 0 !important;
}

.governance-library > div > div > ul > li:not(:has(ul))::after {
    content: ""; /* Empty content */
    display: inline-block; /* Makes the pseudo-element behave like an inline element */
    width: 15px; /* Width of the icon */
    height: 15px; /* Height of the icon */
    background-image: url("../../icons/download.png"); /* Path to your PDF icon */
    background-size: contain; /* Scale the background image to fit the pseudo-element */
    position: absolute; /* Allows positioning the icon */
    margin-left: 10px; /* Increased space between text and the icon */
}

.governance-library > div > div > ul > li > ul > li::after {
    content: ""; /* Empty content */
    display: inline-block; /* Makes the pseudo-element behave like an inline element */
    width: 15px; /* Width of the icon */
    height: 15px; /* Height of the icon */
    background-image: url("../../icons/download.png"); /* Path to your PDF icon */
    background-size: contain; /* Scale the background image to fit the pseudo-element */
    position: absolute; /* Allows positioning the icon */
    margin-left: 10px; /* Increased space between text and the icon */
}
