.pursuit-card > div{
    display: flex;


}



.pursuit-card > div > div h3,p{
    width: 550px;
    padding-right: 50px;

}

.pursuit-card > div h2 {
    padding-left: 35%;
    padding-bottom: 10%;
    width: 100%;
    font-size: 2rem;
    color: #00a2b6;
}


.pursuit-card > div > div h3{
    color: #00a2b6;
    font-size: 1.375rem;

}

.pursuit-card > div > div p{

    font-size: 1.375rem;
    padding-bottom: 25px;

}
