.shadow-card {
    display: flex;
    gap: 25px;
}

.shadow-card > div {
    box-shadow: 0 1px 12px rgba(190, 190, 190, 0.663);
    padding: 15px;
}


.shadow-card > div h3 {
font-family: nunito;
font-size: x-large;
}


.shadow-card-container > .default-content-wrapper {
    display: flex; /* Add this line to make it a flex container */
    align-items: center; /* This centers items vertically */
    justify-content: center; /* This centers items horizontally */
    height: 100%; /* Ensure the container has a height if needed */
    width: 100%; /* Ensure the container has a width if needed */
    padding-top: 20px;
}